*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  min-height: 50px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding-inline: 10%;
  padding-block: 1.5em;
  position: sticky;
  top: 0;
  z-index: 9;
}

main {
  width: 100%;
}
main span {
  color: #575b5b;
}

button {
  cursor: pointer;
}
.nav-link {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.nav-link button {
  font-family: "Roboto", sans-serif;
  border: 0;
  border-radius: 20px;
  background-color: #191919;
  color: white;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  max-width: 100%;
  border-bottom: 1px solid #a2adad;
  padding-left: 10%;
}

.title-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.title-hero h1 {
  font-size: 6em;
  font-family: "Spectral", serif;
}

.title-hero button {
  font-family: "Roboto", sans-serif;
  border: 0;
  border-radius: 20px;
  background-color: #191919;
  color: white;
  padding: 10px;
  width: 25%;
}
.trend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 10%;
  padding-block: 5%;
  gap: 45px;
  border-bottom: 1px solid #a2adad;
}

.trend-container .trend {
  flex: 1 1 calc(33.33% - 45px);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.trend img {
  border-radius: 50%;
}

.trend h3 {
  font-weight: bold;
}

.section-container {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  padding-inline: 10%;
  padding-block: 5%;
}

.articles-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 45px;
  min-width: 60%;
}

.article {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.article > img {
  max-width: 30%;
}
.article-text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: relative;
}

.article-text span:first-of-type {
  font-weight: bold;
}

.article-text h2 {
  font-weight: bold;
  font-size: 2em;
}

.article-text img {
  border-radius: 50%;
}

.article-text strong {
  background-color: #eff1f1;
  border-radius: 15px;
  padding: 0.5em;
}

.article-text .bookmark {
  width: 30px;
  position: absolute;
  bottom: -4px;
  right: 45px;
  cursor: pointer;
}
.aside-container {
  display: flex;
  flex-direction: column;
}

.aside-container h4 {
  font-weight: bold;
  font-size: 1.5em;
}

.aside-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 1.8em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #a2adad;
}

.aside-buttons button {
  background-color: white;
  height: 3em;
  font-family: "roboto", sans-serif;
  color: #575b5b;
  border-radius: 5px;
  border: 1px solid #a2adad;
}

.aside-links {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
